ol.commentlist {
	list-style: none;
	padding-inline: 0;

	li {
		margin-inline: 0;
		padding-inline: 0;
	}

	.comment-body {
		padding-block: 2em;
		border-bottom: 1px solid hsl(0,0%,80%);
	}

	.comment-meta {
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	.comment-author .avatar {
		padding-inline-end: 1em;
		vertical-align: middle;
	}

	.comment-metadata {
		font-size: .9em;
	}

}