

body {
	margin:0;padding:0;
	font-family: "Fira Sans", $systemFontStack;
	font-size: 20px;
	font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
	font-family: "Fira Sans", $systemFontStack;
	font-weight: 200;
	margin: 1.7em 0 .2em;
	color: hsl(0, 0%, 20%);
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
h5 {
	font-size: 1.25em;
}
h6 {
	font-size: 1.13em;
}

a {
	color: var(--color_Green);
	transition: .2s color, .2s text-shadow;
	&:hover, &:active, &:focus {
		color: var(--color_HotPink);
		text-shadow: hsla(0, 0%, 100%, .6);
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		text-decoration: none;
		font-weight: 500;
	}
}

p {
	margin: 1.3em 0;
}

hr,
hr.wp-block-separator
{
	border: none;
	border-top: 4px dotted var(--color_LightGray);
	margin: 2em;
	clear: both;
}

figure {
	margin: 0 0 1em 0;
}

pre code, .wp-block-preformatted {
	line-height: 1.5em;
	font-size: .9rem;
	font-family: "Fira Code", monospace;
}
// inline code
p code {
	background: var(--color_BurntPink);
	padding: 2px 4px;
	border: hsl(0,19%,85%) 1px solid;
	// font-weight: 100;
	font-family: "Fira Code", monospace;
	font-size: .9rem;
}

input[type="text"], input[type="password"], input[type="email"] ,
input[type="date"], input[type="datetime"], input[type="search"] ,
input[type="submit"]
{
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"] {
	background: hsl(0, 0%, 30%);
	color: white;
	border: none;
	padding: .2em .8em;
	display: inline-block;
	border-radius: 2px;
	font-weight: 200;
}

blockquote {

	cite {
		font-size: .8em;
		text-align: right;
		display: block;
		font-style: italic;
	}
}

.wp-block-image img {
	max-width: 100%;
	height: auto;
}

.wrap {
	margin-left: 1rem;
	margin-right: 1rem;

	@media(min-width: $breakpoint_2) {
		margin-left: 12vw;
		margin-right: 8vw;
	}
}

.screen-reader-text {
	display: none;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.alignnone {

}