

nav.main-menu {
	display: flex;
	justify-content: center;

	ul.menu { // top level ul
		display: flex;
		justify-content: center;
		flex-direction: column;
		list-style-type: none;
		font-size: 1.2em;
		font-weight: 500;

		body.home & {
			font-size: 1.3em;
		}

		li {
			margin: 0; padding: 0;
		}

		a {
			display: inline-block;
			padding: .2em 1.2em;
			text-decoration: none;
		}

		ul.sub-menu {
			padding-left: .8em 0 0;
			font-size: .8em;
			font-weight: 200;
			list-style: none;
			
			li {

			}

			a {
				transition: .2s transform;
				transform: translateX(0);
				&:hover, &:focus, &:active {
					transform: translateX(3px);
				}
			}
		}

		@media(min-width: $breakpoint_1){
			flex-direction: row;

			ul.sub-menu {
				position: absolute;
				z-index: 99;
				transform: translateX(-9999px);
				border-left: 5px solid var(--color_LightGray);
				border-bottom: 1px solid var(--color_LightGray);
				background: white;
				padding-left: 0;
			}

			li.menu-item-has-children:hover > ul.sub-menu {
				transform: translateX(0);
			}
		}

		@media(min-width: $breakpoint_2){

			a {
				padding: .8em 1.2em;
			}
		}
	}
}