
@import '../_variables';
@import '_core';
@import '_comments';

.main-header {

	position: relative;

	background: {
		// position: center;
		// repeat: no-repeat;
		// size: cover;
		color: var(--color_BurntPink);
	}

	body.home & {
	}

}


main.site-main {
	margin-top: 4em;
	margin-bottom: 2em;

	@media(min-width: $breakpoint_3) {
		&.with-sidebar {
			display: grid;
			grid-template-columns: 70% 30%;
			gap: 2em;
		}
	}
}

h1.site-name {
	font-size: 6em;
	line-height: 1em;
	text-transform: lowercase;
	// padding: 1rem 0 0;
	margin-top: 0;
	margin-bottom: 0;
	// filter: drop-shadow(0 0 1px black);
	// color: hsl(72, 90%, 73%);
	font-weight: 800;
	letter-spacing: -.027em;
	padding: 1.3em 0 0 0;
	color: hsl(0, 0%, 26%);

	a {
		color: inherit;
		font-weight: inherit;
		transition: .3s color;

		&:hover, &:active, &:focus {
			&:not([class*="-background-color"]) {
				color: var(--color_HotPink);
			}
		}
	}

	@media(min-width: $breakpoint_1) {
		font-size: 7em;
	}

	@media(min-width: $breakpoint_2) {
		margin-left: 12vw;
		line-height: .75em;
	}

	// .with-image & {
	// 	background-clip: text;
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	background-position: 50% 76%;
	// 	color: transparent;
	// 	filter: brightness(.8);
	// }
}

#featured-image {
	--size: 205px;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	height: var(--size);
	width: var(--size);
	border-radius: var(--size);
	background-position: center;
	top: calc( var(--size) / 3 * -1);
	right: 10vw;
	box-shadow: 0 0 1px gray;

	@media(min-width: $breakpoint_1){
		--size: 267px;
	}
	@media(min-width: $breakpoint_3){
		top: calc( var(--size) / 7 * -2);
		--size: 363px;
	}
}

@import 'nav.scss';

h1.page-title {
	font-size: 2.7em;
	position: relative;
	color: black;
	margin-top: 0;
}

.post-list {

	padding: 2em 0;

	h3 {
		margin-top: 0;
	}

	.list-item-image {
		display: none;

		img {
			height: 8em;
			width: 8em;
			clip-path: circle();
			object-fit: cover;
		}

		@media(min-width:$breakpoint_2){
			display: block;
		}
	}

	@media(min-width: $breakpoint_2){
		display: grid;
		grid-template-columns: 60ch 1fr;
		gap: 1.5em;
	}

	.content-area.excerpt {
		color: hsl(0, 0%, 40%);
	}
}

.content-template {
	max-width: 100%;
}
main.with-sidebar {
	.content-template {
		width: 60ch;
		max-width: 100%;
	}
}

.tax {
	font-size: .8em;
	font-weight: 200;
	text-align: right;

	a {
		display: inline-block;
		background: var(--color_BurntPink);
		padding: .2em .5em;
		margin: 0 2px;
		text-decoration: none;
		filter: saturate(.3);
		transition: .2s filter, .2s border;
		border-left: 0 solid var(--color_HotPink);

		&:hover {
			filter: saturate(1);
			border-left-width: 3px;
		}
	}
	._categories {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		
		p {
			margin: 0;
			padding: 0;
		}
	}
	ul {
		list-style: none;
		padding: 0;

		li {
			display: inline;
		}
	}
}


.nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: .7em 0;

	a {
		display: block;
		padding: .7em .9em;
		background: var(--color_LightGray);
		margin: 0 .7em;
	}

	.nav-previous a {
		clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
		transition: .3s transform, .3s border-width linear;
		border-right: 0 solid var(--color_HotPink);
		transform: translateX(0);
		&:hover {
			transform: translateX(-3px);
			border-right-width: 3px;
		}
	}
	.nav-next a {
		clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
		transition: .3s transform, .3s border-width linear;
		border-left: 0 solid var(--color_HotPink);
		transform: translateX(0);
		&:hover {
			transform: translateX(3px);
			border-left-width: 3px;
		}
	}

}

footer.pre-footer {
	padding: 1em 0;
	background-color: var(--color_BurntPink);
	// border-top: 1px solid hsl(330, 20%, 88%);

	.widget {
		box-sizing: border-box;
		padding: 2em 0;
		margin-top: .5em; 

		// .search-form {
		// 	input[type="search"] {
		// 		font-size: 1em;
		// 		display: block;
		// 		margin-bottom: .4em;
		// 		font-weight: 300;

		// 		&:focus {
		// 			font-weight: 700;
		// 		}
		// 	}
		// 	input[type="submit"] {
		// 		font-size: 1em;
		// 	}
		// }
	}
	
	.widgettitle {
		margin: 0 0 .9em;
		font: {
			size: 1.8em;
			weight: 100;
		}
	}

	@media (min-width: 750px) {
		.wrap {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: .3em;
		}
		
		.widget {
			margin: 0; 
		}
	}
	

	@media (min-width: 1450px) {
		.wrap {
			grid-template-columns: repeat(3, 1fr); 
		}
	}
}

footer.page-footer {
	font-weight: 100;
	background: hsl(0, 0%, 10%);
	color: hsl(0, 0%, 90%);
	// text-align: center;
	padding: 3em 2em;
	clear: both;

	.wrap {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between; 
		align-items: center;
	}

	// .footer-contact {
	// 	text-align: left;
	// }

	.outbound-links {

		a {
			display: inline-block;
			height: 40px;
			width: 40px;
			margin: 0 .7em;
			transition: filter 240ms;
			filter: grayscale(1) contrast(75%) brightness(142%);

			svg {
				height: 100%;
				width: 100%;
			}

			&:hover {
				filter: none;
			}
		}

		._twitter {
			top: 3px;
		}
		._so {
			margin-left: 1px;
		}
		._gitlab {
			height: 36px;
		}
		._telegram {
			filter: grayscale(1) contrast(5) brightness(82%);
		}
	}
}

@import '_thirdparty';