/* For styles used on front end and admin
*/

@import '../_variables';

@mixin myBackgroundColors( $el: "" ) {

	#{$el}.has-burnt-pink-background-color {
		background-color: var(--color_BurntPink);
		color: hsl(0, 0%, 20%);
	}
	#{$el}.has-light-gray-background-color {
		background-color: var(--color_LightGray);
		color: hsl(0, 0%, 20%);
	}
	#{$el}.has-bright-tan-background-color {
		background-color: var(--color_BrightTan);
		color: hsl(0, 0%, 10%);
	}
	#{$el}.has-hot-pink-background-color {
		background-color: var(--color_HotPink);
		color: hsl(0, 0%, 100%);
		text-shadow: 0 0 2px hsla(0, 0%, 0%, .4);
	}
	#{$el}.has-my-green-background-color {
		background-color: var(--color_Green);
		color: hsl(0, 0%, 100%);
		text-shadow: 0 0 2px hsla(0, 0%, 0%, .4);
	}
	#{$el}.has-dark-blue-background-color {
		background-color: var(--color_DarkBlue);
		color: hsl(0, 0%, 100%);
		text-shadow: 0 0 2px hsla(0, 0%, 0%, .7);
	}
}

@mixin myColors( $el: "" ) {

	#{$el}.has-burnt-pink-color {
		color: var(--color_BurntPink);
	}
	#{$el}.has-light-gray-color {
		color: var(--color_LightGray);
	}
	#{$el}.has-bright-tan-color {
		color: var(--color_BrightTan);
	}
	#{$el}.has-hot-pink-color {
		color: var(--color_HotPink);
	}
	#{$el}.has-my-green-color {
		color: var(--color_Green);
	}
	#{$el}.has-dark-blue-color {
		color: var(--color_DarkBlue);
	}
}



@include myBackgroundColors;
@include myColors;

@include myBackgroundColors('.wp-block-cover.has-background-dim[class*="-background-color"]');
@include myColors('.is-style-outline .wp-block-button__link');

.wp-block-cover {
	padding: 2em;
	box-sizing: border-box;
}

.wp-block-button__link ,
.wp-block-file .wp-block-file__button 
{
	font-size: 1em;
	border-radius: 3px;
	padding: .3em .8em;
	transition: .2s transform, .2s background-color, .2s border-color, .2s color;
	transform: perspective(100px) translateZ(0);
	font-weight: 200;

	&.has-burnt-pink-background-color ,
	&.has-light-gray-background-color
	{
		border: 1px solid hsl(0, 0%, 60%);
	}
	&.has-my-green-background-color 
	{
		border: 1px solid var(--color_Green);
	}
	&.has-hot-pink-background-color
	{
		border: 1px solid var(--color_HotPink);
	}
	&.has-dark-blue-background-color
	{
		border: 1px solid var(--color_DarkBlue);
	}

	&.has-bright-tan-background-color
	{
		border: 1px solid var(--color_BrightTan);
	}


	&:hover {
		transform: perspective(100px) translateZ(2px);
		background-color: var(--color_HotPink);
		border-color: var(--color_HotPink);
		text-shadow: 0 0 5px black;
		color: white;
	}

	&:not([class*="-background-color"]) {
		background-color: var(--color_Green);
		color: white;
		border: 1px solid var(--color_Green); // so it's the same size as other buttons
	}
}

hr.wp-block-separator {
	.is-style-default {
		max-width: none;
	}
	.is-style-wide {
		margin-left: 0;
		margin-right: 0;
	}
}

.wp-block-file .wp-block-file__button {
	font-size: .9em;
}

.wp-block-buttons .wp-block-button {
	margin-right: .5em;
}

.wp-block-embed {
	margin: 1.5em 0;
}

.wp-audio-shortcode {
	margin: 1em 0 1.5em;
}


.widget.widget_recent_entries ul ,
ul.wp-block-latest-posts
{
	list-style: none;
	padding-left: 0;

	li {
		padding: 0 0 .8em 0;
	}

	a {
		font-weight: 500;
		text-decoration: none;
	}

	.wp-block-latest-posts__featured-image {
		// float: right;
		// margin-right: .8em;

		img {
			height: 90px;
			width: auto;
			clip-path: circle();
			position: relative;
			top: -.5em;
		}

		@media(min-width:$breakpoint_2){
			display: block;
		}
	}
}

.content-area ul.wp-block-latest-posts {
	a {
		font-size: 1.6em; // like h3
		font-weight: 200;
	}
}

.wp-block-group.has-background {
	padding: .8em;
}

blockquote.wp-block-quote {

	font-size: 1.3em;
	font-weight: 100;
	padding: 1em;
	margin: 1em;
	line-height: 1.4em;

	&, &.is-style-large {
		border-left: 5px solid var(--color_HighlightYellow);
	}

	&.is-style-large {
		font-size: 1.5em;
		padding: .6em 1.5em;
		margin: 1em;
		border-left-width: 7px;

		p {
			font-size: inherit;
			line-height: inherit;
		}
	}
}

// span.post-date is (at least) in latest posts widget
span.post-date , 
.post-meta ,
.wp-block-latest-posts time
{
	display: block;
	font-size: .8em;
	padding: .3em .9em .7em;
	font-weight: 200;
}

/** Wide Alignments
 */
.alignwide, .alignfull
{
	position: relative;
	box-sizing: border-box;
	// for some reason, 100vw causes horiz scrollbar. 
	// width: 100vw !important;
	width: 99vw; //100vw !important;
	left: 50%;
	right: 50%;
	margin: {
		left: -50vw;
		right: -50vw;
	}
}


.alignwide, .alignfull {
	// for when images are fullwidth
	figcaption {
		background: none;
		margin: 0 auto;
		max-width: 100vw;
		box-shadow: none;
		@media(min-width: $breakpoint_2){
			max-width: $breakpoint_2;
		}
		@media(min-width: $breakpoint_4){
			max-width: $breakpoint_4 - 200px;
		}
	}
}

@media(min-width: $breakpoint_2){

	.alignfull {
		margin-left: -12vw;
		margin-right: -12vw;
		left: auto;
		right: auto;
	}

	.alignwide {
		width: 75ch;
		left: auto;
		right: auto;
		margin-left: -6vw;
		margin-right: -6vw;
	}

	main:not( .with-sidebar ) {
		.alignfull {

		}
		.alignwide {
			width: 88vw;
		}
	}
}

/* Columns with no gap
 */
.wp-block-columns.no-gap {
	margin-bottom: 0;

	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}
}

.has-medium-font-size {
	font-size: 22px;
}
.has-large-font-size {
	font-size: 26px;
}