
$systemFontStack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$breakpoint_1: 550px;
$breakpoint_2: 800px;
$breakpoint_3: 1200px;
$breakpoint_4: 1400px;

:root {
	--color_Green: hsl(102, 100%, 30%);
	--color_HotPink: hsl(340, 100%, 50%);
	--color_BurntPink: hsl(330, 60%, 98%);
	--color_LightGray: hsl(0, 0%, 93%);
	--color_HighlightYellow: hsl(45,100%,76%);
	--color_BrightTan:       hsl(45,100%,76%); // alias
	--color_DarkBlue: hsl(198, 100%, 17%);
}